<head>
  <%- include('../includes/head.ejs') %>
</head>
<body>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="columns is-centered">
          <div class="box">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <h1 class="text-center mb-3">
                <i class="fas fa-sign-in-alt"></i> Login
              </h1>
              <form action="/users/login" method="POST">
                <div class="field">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
                  />
                </div>
                <div class="field">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                  />
                </div>
                <div class="field is-grouped">
                  <p class="control">
                    <button type="submit" class="button is-info">
                      Login
                    </button>
                  </p>
                  <p class="control">
                    <a class="button is-info" href="/users/register">
                      Register Here
                    </a>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
