<div class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="" class="navbar-item">
      <img src="images/virus.svg">
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        Log In
      </a>
      <a class="navbar-item">
        Sign Up
      </a>
    </div>
  </div>
</div>