<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <figure class="image is-32x32">
        <img class="is-rounded" src="/images/virus.svg">
      </figure>
      <p class="nav-title">CoviTrack</p>
    </a>
    <a role="button" class="navbar-burger burger is-primary" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
      <!-- Check if the user is logged in -->
      <% if (currentUser == null) { %> 
        <a href="/users/register" class="navbar-item"> Sign Up </a>
        <a href="/users/login" class="navbar-item"> Log In </a>
      <%} else if (currentUser.usertype == true) { %> 
        <a href="/createbusiness" class="navbar-item"> Create Business </a>
        <a href="/yourbusinesses" class="navbar-item"> Your Businesses </a>
        <a href="/users/logout" class="navbar-item"> Log Out </a>
      <% } else if (currentUser.usertype == false) { %> 
        <a href="/users/logout" class="navbar-item"> Log Out </a>
      <% } %> 
    </div>
  </div>
</nav>
<script src="/javascripts/burgerNav.js"></script>
