<div class="box">
  <form action="/reviews/postReview" method="post">

    <div class="field">
      <label class="label">Comment</label>
      <div class="control">
        <textarea class="textarea is-primary" placeholder="Comment"></textarea>
      </div>
    </div>
      
    
    <button class="button is-primary" type="submit">Submit Review</button>
    <input type="hidden" name="businessId" value="<%= business._id %>">
  </form>
</div>

