<form action="/reviews/postReview" method="post">
  <textarea name="comment" rows="10" cols="30">
    
  </textarea>
  <button class="btn" type="submit">Submit Review</button>
  <input type="hidden" name="businessId" value="<%= business._id %>">
</form>