<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= review.reviewCreatorName %> </strong>
          <br>
          <%= review.comment %> 
        </p>
      </div>
      
    </div>
  </article>
</div>