<article class="message is-dark">
  <div class="message-header">
    <p>Review</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    <%= review.comment %> 
  </div>
</article>