<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body class="body-class">
    <%- include('includes/nav.ejs') %>
    <header id="showcase">
      <h1 class="title">Welcome to this page</h1>
      <p>This is a landing page</p>
      <button class="button is-primary is-light">Read More</button>
    </header>
    <section class="introductory-text fadeup">
      <p class="has-background-info" id="intro-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet
        pariatur, reiciendis inventore a dicta similique et earum commodi
        ducimus voluptas fuga quisquam iusto facere. Hic omnis libero minima
        ullam error! Error reiciendis esse deserunt accusantium qui et, ducimus
        repudiandae voluptates iure cum ullam dolorem explicabo nulla eum
        voluptatem eaque delectus commodi deleniti similique facilis debitis
        asperiores? Impedit quasi repellendus ut natus quaerat! Aut laboriosam
        doloremque dicta mollitia est ratione ullam, consequatur possimus ipsum
        deserunt quos incidunt blanditiis ad pariatur officiis asperiores sed,
        ducimus veritatis illum voluptatem vel voluptas facilis. Sapiente illum
        non ad officiis iusto vel dolore cumque atque!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet
        pariatur, reiciendis inventore a dicta similique et earum commodi
        ducimus voluptas fuga quisquam iusto facere. Hic omnis libero minima
        ullam error! Error reiciendis esse deserunt accusantium qui et, ducimus
        repudiandae voluptates iure cum ullam dolorem explicabo nulla eum
        voluptatem eaque delectus commodi deleniti similique facilis debitis
        asperiores? Impedit quasi repellendus ut natus quaerat! Aut laboriosam
        doloremque dicta mollitia est ratione ullam, consequatur possimus ipsum
        deserunt quos incidunt blanditiis ad pariatur officiis asperiores sed,
        ducimus veritatis illum voluptatem vel voluptas facilis. Sapiente illum
        non ad officiis iusto vel dolore cumque atque!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet
        pariatur, reiciendis inventore a dicta similique et earum commodi
        ducimus voluptas fuga quisquam iusto facere. Hic omnis libero minima
        ullam error! Error reiciendis esse deserunt accusantium qui et, ducimus
        repudiandae voluptates iure cum ullam dolorem explicabo nulla eum
        voluptatem eaque delectus commodi deleniti similique facilis debitis
        asperiores? Impedit quasi repellendus ut natus quaerat! Aut laboriosam
        doloremque dicta mollitia est ratione ullam, consequatur possimus ipsum
        deserunt quos incidunt blanditiis ad pariatur officiis asperiores sed,
        ducimus veritatis illum voluptatem vel voluptas facilis. Sapiente illum
        non ad officiis iusto vel dolore cumque atque!

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet
        pariatur, reiciendis inventore a dicta similique et earum commodi
        ducimus voluptas fuga quisquam iusto facere. Hic omnis libero minima
        ullam error! Error reiciendis esse deserunt accusantium qui et, ducimus
        repudiandae voluptates iure cum ullam dolorem explicabo nulla eum
        voluptatem eaque delectus commodi deleniti similique facilis debitis
        asperiores? Impedit quasi repellendus ut natus quaerat! Aut laboriosam
        doloremque dicta mollitia est ratione ullam, consequatur possimus ipsum
        deserunt quos incidunt blanditiis ad pariatur officiis asperiores sed,
        ducimus veritatis illum voluptatem vel voluptas facilis. Sapiente illum
        non ad officiis iusto vel dolore cumque atque!
      </p>
    </section>
    <div>
      Icons made by
      <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </body>
  <script src=javascripts/index-observer.js></script>
</html>
