<%- include("../includes/head") %>

<section class="section">
  <div class="box has-background-info-light	">
    <section class="hero is-secondary">
      <p class="title"><%= business.businessName %></p>
      <p class="subtitle">
        <%= business.businessOwner.name %> 
      </p>
      <div>
        <a href="/editbusiness/<%= business._id %>">Edit Business</a>
      </div>
    </section>
  </div>
</section>

