<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs') %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body class="body-class">
    <!-- Include NavBar-->
    <%- include('../includes/nav.ejs')%>
    <div class="container.is-widescreen">
      <div id="map" style="width:1920px; height: 1080px"></div>
      <script src="javascripts/mapbox.js"></script>
    </div>
  </body>
</html>
